<html><head>
    <title>学习论坛-首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/community.js"></script>
</head>
<body>

<!--引入导航-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">学习论坛</span>
            </button>
            <a class="navbar-brand" href="/">学习论坛</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/publish">提问</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>stone</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">我的问题</a></li>
                        <li><a href="/profile/questions">个人资料</a></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main">
    <div class=" row">
        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 main-left">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4><span>哪里有水</span></h4>
                <span class="text-desc">
            作者: <span>stone</span>
            发布时间: <span>2019-12-24 00:00</span>
            阅读数:<span>30163</span>
            </span>
                <hr class="col-1g-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">利辛哪里有水1</div>
                <hr class="col-1g-12 col-md-12 col-sm-12 col-xs-12">
                <!--只有当前用户才可以编辑-->
                <a href="/publish/1" class="community-menu">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true'"></span>
                    编辑
                </a>
            </div>
            <!--回复-->
            <h4>
                <span>16</span>个回复
            </h4>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span>stone</span>
                        </h5>
                        <div value="路过"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon"></span>
                            <span>2020-01-02</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span>stone</span>
                        </h5>
                        <div value="你好啊"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon"></span>
                            <span>2020-01-03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span>stone</span>
                        </h5>
                        <div value="我是猪温泉"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon"></span>
                            <span>2020-01-03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span>stone</span>
                        </h5>
                        <div value="你的问题说的不完善"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon"></span>
                            <span>2020-01-03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span>stone</span>
                        </h5>
                        <div value="你说的问题不完善"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon"></span>
                            <span>2020-01-03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span>stone</span>
                        </h5>
                        <div value="aaaa"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon"></span>
                            <span>2020-01-03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span>stone</span>
                        </h5>
                        <div value="aa1"></div>
                        <div class="menu">
                            <span class="glyphicon glyphicon-thumbs-up icon"></span>
                            <span class="glyphicon glyphicon-comment icon"></span>
                            <span>2020-01-03</span>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6 class="media-heading">
                            <span>stone</span>
                        </h6>
                    </div>
                </div>
                <input type="hidden" value="1" id="question_id">
                <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
            </div>
        </div>
        <!--右边的内容-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" src="https://avatars3.githubusercontent.com/u/57699968?v=4">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span>stone</span>
                        </h5>
                    </div>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
            </div>
        </div>
    </div>
</div>

</body></html>